#!/usr/bin/env bash

# Configuration file for FACEPAI (facepai.sh).
# Please see documentation for usage.
# Development version.

# Number of primer pairs
PRIMER_SETUP="1"

# Forward primer sequence.
# If multiple primers are used enter each forward sequence separated by a comma.
# Example: "SEQUENCE1,SEQUENCE2"
PRIMERS_F="ACWGGWTGRACWGTNTAYCC"

# Reverse primer sequence (reverse complemented!).
# If multiple primers are used enter each reverse sequence separated by a comma.
# Example: "SEQUENCE1,SEQUENCE2"
PRIMERS_R="TGRTTYTTYGGNCAYCCHGA"

# Minimum sequence length
# If multiple primer pairs are used enter minimum length of each fragmented separated by a comma.
# Example: "300,400"
MIN_LENGTHS="300"

# Absolute path to database with reference sequences ("DB name" in makeblastdb)
BLASTDB="/your/path/to/database.fasta"

# Table headers in final results, comma delimited list.
# Default headers are adapted to a reference database prepared
# using supplied scripts.
TABHEADER="Query_ID,Swarmsize,Identity,E-value,Query_Coverage,Subject_Source,Subject_ID,BOLD_BIN_URI,Taxon_name,GenBank_Crossref_ID,Country,Phylum,Class,Order,Family,Subfamily,Genus"
