#!/usr/bin/env bash

# Configuration file for FACEPAI (facepai.sh).
# Please see documentation for usage.

# Forward primer sequence
PRIMER_F="ACWGGWTGRACWGTNTAYCC"

# Reverse primer sequence (reverse complemented!)
PRIMER_R="TGRTTYTTYGGNCAYCCHGA"

# Minimum sequence length
MIN_LENGTH=300

# Absolute path to database with reference sequences ("DB name" in makeblastdb)
BLASTDB="/your/path/to/database.fasta"

# Table headers in final results, comma delimited list.
# Default headers are adapted to a reference database prepared
# using supplied scripts.
TABHEADER="Query_ID,Swarmsize,Identity,E-value,Query_Coverage,Subject_Source,Subject_ID,BOLD_BIN_URI,Taxon_name,GenBank_Crossref_ID,Country,Phylum,Class,Order,Family,Subfamily,Genus"
